<a href="https://colab.research.google.com/github/ShujaAbrar7/PythonTrainingACCN/blob/main/day2_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


1. Write a program with sample list with seven elements and add new elements10, 'Teja' at the second and fourth position.

2. Write a program with sample list and find the third element and last element of list.

3. How to remove last element of the list using inbuilt methods

4. How to merge two lists and return single list as a output.

5. Write a program with sample list with even and odd numbers and Iterate the list of elements return all even numbers as a new list.  Sample List = [20, 13, 14, 15, 9, 8, 15]

6. Write a program to count the number of same characters in a string. Sample String : 'Welcome to the python world'

7. Write a Python program to change Chaitanya’s salary to 8500 in the following dictionary.

	sample_dict = {

		'emp1': {'name': 'Jhon', 'salary': 7500},

		'emp2': {'name': 'Emma', 'salary': 8000},

		'emp3': {'name': 'Chaitanya', 'salary': 500}

	}



8. Print the value of key ‘history’ from the below dict

	sampleDict = {

		"class": {

			"student": {

				"name": "Mike",

				"marks": {

					"physics": 70,

					"history": 80

				}

			}

		}

	}





9. Write a program to reverse a list -> [20, 5, 71, 10, 5] using inbuilt method and slicing.



10. Write a Python program to print a specified list after removing 'White', 'Pink' and 'Yellow' elements from the list.



	Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']



12. Write a Python program to check if a list is empty or not.



13. Write a Python program to remove duplicates from a list.

In [3]:
'''1.Write a program with sample list with seven elements and add new elements10, 'Teja' at the second and fourth position.'''
s1=list([1,4,8.9,"hi", 1+5j,70,"WellDone"])
print(s1)
s1.insert(1,10)
# we give position based on 0-based indexing
s1.insert(3,"Teja")
print("list after inserting elements",s1,sep="\n")

[1, 4, 8.9, 'hi', (1+5j), 70, 'WellDone']
list after inserting elements
[1, 10, 4, 'Teja', 8.9, 'hi', (1+5j), 70, 'WellDone']

In [4]:
'''2. Write a program with sample list and find the third element and last element of list.'''
l1=[3,6,9,2,3,4,5,6,12,90]

print("Third element: ",l1[2])
print("last element: ",l1[-1])
print("last elemwnt: ",l1[len(l1)-1])

Third element:  9
last element:  90
last elemwnt:  90

In [8]:
'''3. How to remove last element of the list using inbuilt methods'''
#pop() is used to remove the last element of the list

l1=[4,8,2]
print(l1.pop())
print(l1)
print(l1.pop())
print(l1)

2
[4, 8]
8
[4]

In [9]:
l1=[4,8,2,3,6,1]
print("length before pop :",len(l1))
print("element removed:",l1.pop(2))
#third element that is 2 is removed
print("list after pop: ", l1)
print("length after pop: ",len(l1))

length before pop : 6
element removed: 2
list after pop:  [4, 8, 3, 6, 1]
length after pop:  5

In [13]:
'''4. How to merge two lists and return single list as a output.'''
l1=[1,3,5,7,9]
l2=[2,4,6,8]
#merged list
print(l1+l2)
print("l1 before extend ",l1)
l1.extend(l2)
#l1 is extended adn modified with merged list
print("l1 after extend ",l1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]
l1 before extend  [1, 3, 5, 7, 9]
l1 after extend  [1, 3, 5, 7, 9, 2, 4, 6, 8]

In [14]:
''' 5. Write a program with sample list with even and odd numbers and Iterate the list of elements return all even numbers as a new list.
 Sample List = [20, 13, 14, 15, 9, 8, 15]'''
sampleList = [20, 13, 14, 15, 9, 8, 15]
l=[i for i in sampleList if i%2==0]
print(l)

[20, 14, 8]

In [15]:
"""6. Write a program to count the number of same characters in a string. Sample String : 'Welcome to the python world'"""
s='Welcome to the python world'
d=dict()
for i in s:
  if i not in d.keys():
    if i==' ':
      pass
    else:
      d[i]=1
  else:
    d[i]+=1
CountDict=dict()
for i in d.values():
  if i not in CountDict:
    CountDict[i]=1
  else:
    CountDict[i]+=1
#print(CountDict)
print(d)
for i,j in CountDict.items():
  print("there are ",j," letters that occured ",i," times")

{'W': 1, 'e': 3, 'l': 2, 'c': 1, 'o': 4, 'm': 1, 't': 3, 'h': 2, 'p': 1, 'y': 1, 'n': 1, 'w': 1, 'r': 1, 'd': 1}
there are  9  letters that occured  1  times
there are  2  letters that occured  3  times
there are  2  letters that occured  2  times
there are  1  letters that occured  4  times

In [17]:
"""
7. Write a Python program to change Chaitanya’s salary to 8500 in the following dictionary.

	sample_dict = {

		'emp1': {'name': 'Jhon', 'salary': 7500},

		'emp2': {'name': 'Emma', 'salary': 8000},

		'emp3': {'name': 'Chaitanya', 'salary': 500}

	}
"""
sample_dict = {

		'emp1': {'name': 'Jhon', 'salary': 7500},

		'emp2': {'name': 'Emma', 'salary': 8000},

		'emp3': {'name': 'Chaitanya', 'salary': 500}

	}
sample_dict['emp3']['salary']=8500
print(sample_dict)

{'emp1': {'name': 'Jhon', 'salary': 7500}, 'emp2': {'name': 'Emma', 'salary': 8000}, 'emp3': {'name': 'Chaitanya', 'salary': 8500}}

In [19]:
"""
8. Print the value of key ‘history’ from the below dict

	sampleDict = {

		"class": {

			"student": {

				"name": "Mike",

				"marks": {

					"physics": 70,

					"history": 80

				}

			}

		}

	}
"""
sampleDict = {

		"class": {

			"student": {

				"name": "Mike",

				"marks": {

					"physics": 70,

					"history": 80

				}

			}

		}

	}
print(sampleDict['class']['student']['marks']['history'])

80

In [27]:
"""
9. Write a program to reverse a list -> [20, 5, 71, 10, 5] using inbuilt method and slicing.
"""
list1=[20, 5, 71, 10, 5]
#original list is not modified here
a=list(reversed(list1))
print(a)
print(list1)

print("using slice\t",list1[::-1])
#original list1 is modified here
print("using reverse()")
list1.reverse()
print(list1)

[5, 10, 71, 5, 20]
[20, 5, 71, 10, 5]
using slice	 [5, 10, 71, 5, 20]
using reverse()
[5, 10, 71, 5, 20]

In [29]:
"""
10.  Write a Python program to print a specified list after removing 'White', 'Pink' and 'Yellow' elements from the list.



	Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
"""
sampleList = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
print("Before removing elements: \t",sampleList,sep='\n')
sampleList.remove('White')
sampleList.remove('Pink')
sampleList.remove('Yellow')
print("after removing elements:")
print(sampleList)

Before removing elements:
['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
after removing elements:
['Red', 'Green', 'Black']

In [31]:
"""
11. Write a Python program to check if a list is empty or not.
"""
l1=list([1,2,10.4])
l2=list(["Python"])
l3=list()
l4=[]
if len(l1) == 0:
    print("l1 is empty")
if len(l2) == 0:
    print("l2 is empty")
if len(l3) == 0:
    print("l3 is empty")
if len(l4) == 0:
    print("l4 is empty")

l3 is empty
l4 is empty

In [34]:
"""
12. Write a Python program to remove duplicates from a list.
"""
#using set function
list1=list([2,5,6,45,24,98,2,44,44,45,50,2])
print(list(set(list1)))
list2=[]
for i in list1:
  if i in list2:
    pass
  else:
    list2.append(i)
print(list2)

[2, 98, 5, 6, 44, 45, 50, 24]
[2, 5, 6, 45, 24, 98, 44, 50]