<a href="https://colab.research.google.com/github/ShujaAbrar7/PythonTrainingACCN/blob/main/Day_3_tilldate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s='Welcome to the python world'
d=dict()
for i in s:
  if i not in d.keys():
    if i==' ':
      pass
    else:
      d[i]=1
  else:
    d[i]+=1
CountDict=dict()
for i in d.values():
  if i not in CountDict:
    CountDict[i]=1
  else:
    CountDict[i]+=1
#print(CountDict)
print(d)
for i,j in CountDict.items():
  print("there are ",j," letters that occured ",i," times")

{'W': 1, 'e': 3, 'l': 2, 'c': 1, 'o': 4, 'm': 1, 't': 3, 'h': 2, 'p': 1, 'y': 1, 'n': 1, 'w': 1, 'r': 1, 'd': 1}
there are  9  letters that occured  1  times
there are  2  letters that occured  3  times
there are  2  letters that occured  2  times
there are  1  letters that occured  4  times

In [ ]:
# Function to triple a number
def triple_number(n):
    return n * 3

numbers = [2.2,6,8.009,4038]

# Use map to triple all numbers in the list
tripled_numbers = list(map(triple_number, numbers))
print(tripled_numbers)

[6.6000000000000005, 18, 24.027, 12114]

In [4]:
'''sequence = "Gkjdg jJX iusgd"
set(sequence)'''
a= {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
print(a)
print(''.join(list(a)))

{'b', 'i', 'o', 'E', 'f', 'a', 'U'}
bioEfaU

In [17]:
# Function to convert a character to uppercase
def to_uppercase(char):
    return char.upper()

# Function to convert a character to lowercase
def to_lowercase(char):
    return char.lower()

# Function to eliminate duplicate characters
def eliminate_duplicates(sequence):
    return ''.join(sorted(set(sequence)))

# Input sequence
charl=list(['a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'])
#chrars = set(charl)
sequence = ''.join(list(charl))
print(sequence)

# Use map to convert to uppercase and lowercase, and eliminate duplicates
uppercase_sequence = ''.join(map(to_uppercase, sequence))
lowercase_sequence = ''.join(map(to_lowercase, sequence))
eliminated_duplicates_sequence = eliminate_duplicates(sequence)

# Print the results
print("Original Sequence:", charl)
print("Uppercase Sequence:", list(uppercase_sequence))
print("Lowercase Sequence:", list(lowercase_sequence))
print("Eliminated Duplicates Sequence:", list(eliminated_duplicates_sequence))

abEfaioUa
Original Sequence: ['a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a']
Uppercase Sequence: ['A', 'B', 'E', 'F', 'A', 'I', 'O', 'U', 'A']
Lowercase Sequence: ['a', 'b', 'e', 'f', 'a', 'i', 'o', 'u', 'a']
Eliminated Duplicates Sequence: ['E', 'U', 'a', 'b', 'f', 'i', 'o']

In [ ]:
'''Write a Python program to convert a given list of strings into a list of lists using the map function.

	sample_list = ['Red', 'Green', 'Black', 'Orange']'''
sample_list = ['Red', 'Green', 'Black', 'Orange']
# Use map to convert each string into a list of characters
list_of_lists = list(map(list, sample_list))
print(list_of_lists)

[['R', 'e', 'd'], ['G', 'r', 'e', 'e', 'n'], ['B', 'l', 'a', 'c', 'k'], ['O', 'r', 'a', 'n', 'g', 'e']]

In [ ]:
'''Write a Python function that filters out even numbers from a list of integers using the filter function.

	nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]'''
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

def evenFilter(x):
  if x%2==0:
    return True
res=filter(evenFilter,nums)
for i in res:
  print(i,end=',')

2,4,6,8,10,

In [ ]:
'''Write a Python function that filters out all elements less than or equal than a specified value (threshold value) from a list of

	 numbers using the filter function.

	sample_list = [20, 15, 24, 37, 23, 11, 7], threshold = 20
'''
sample_list = [20, 15, 24, 37, 23, 11, 7]

def FiltList(x):
  #we want values less than o equal to threshold so using that in True case
  if x<=20:
    return True
res=filter(FiltList,sample_list)
for i in res:
  print(i,end=',')

20,15,11,7,

In [ ]:
'''
Write a Python program that filters the list of words and extract words that contain more than five letters.

	words = ["Red", "Green", "Orange", "White", "Black", "Pink", "Yellow"]
'''
words = ["Red", "Green", "Orange", "White", "Black", "Pink", "Yellow"]
def wordFilt(x):
  if len(x)>5:
    return True
res=filter(wordFilt,words)
for i in res:
  print(i,end=',')

Orange,Yellow,

In [ ]:
'''
Write a python program that returns sum of list of elements using reduce function

	myNumbers = [20, 15, 24, 37, 23, 11, 7]
'''
from functools import reduce
myNumbers = [20, 15, 24, 37, 23, 11, 7]

def addList(a,b):
  return a+b
ans=reduce(addList,myNumbers)
print(ans)

137

In [ ]:
'''
Python function to check if a number is palindrome or not'''
num1=12721
if str(num1)==str(num1)[::-1]:
  print("palindrome number")
else:
  print("not a palindromic number")

# 2approach
num1=12791
num2=num1
c=0
while(num2>0):
  c=c*10+num2%10
  num2//=10
if c==num1:
  print("palindrome")
else:
  print("not a palindrome")

palindrome number
not a palindrome

In [ ]:
'''Create a function with variable length of arguments'''
def ProductOfNumbers(*args):
  a=1
  for i in args:
    a*=i
  return a
print(ProductOfNumbers(10,2,3.4))
print(ProductOfNumbers(1,2,3,4,5,6,7,8,9))

68.0
362880

In [ ]:
'''
Write a program that asks the user for two numbers. Then ask them if they would like to add,

subtract, divide, or multiply these numbers. Perform the chosen operation on the values, showing the operation being performed
'''
i1=int(input("Enter first operand:\t"))
i2=int(input("Enter second operand:\t"))
op=input("Choose operation ADD, SUB, MUL, DIV, MOD, FDIV:\t")

def calculations(*args):
    if args[2]=="ADD":
      return i1+i2
    elif args[2]=="SUB":
      return i1-i2
    elif args[2]=="MUL":
      return i1*i2
    elif args[2]=="DIV":
      if args[1]==0:
        return "Division by zero is not advisable ...."
      else:
        return i1/i2
    elif args[2]=="MOD":
      return i1%i2
    elif args[2]=="FDIV":
      if args[1]==0:
        return "Floor Division by zero is not advisable ...."
      else:
        return i1//i2
    else:
      return "Not a valid operation"
print(calculations(i1,i2,op))

Enter first operand:	2
Enter second operand:	0
Choose operation ADD, SUB, MUL, DIV, MOD, FDIV:	DIV
Division by zero is not advisable ....