<a href="https://colab.research.google.com/github/ShujaAbrar7/PythonTrainingACCN/blob/main/TrainingDay1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program that checks given value is string or not?
2. Write a program to convert int to float and viceversa
3. Write a program to print "Welcome to the Python world" if two variables are matching.
4. Write a program to check given two inputs are equal or not.
5. Write a program to convert str to int and viceversa
6. Write a few programs with use of Arthematic and logical operators.
6. w = 20
    x = 10
    y = 15
    z = 2

    print the values of below.

    result_1 = (w+x)*y/z
    result_2 = ((w+x)*x)/z
    result_3 = ((w+x)*(y/z))**z
    result_4 = w+(x*y)/z

7. Write a few programs using logical operators.

8. Write a few programs using relational operators

1.Write a program that checks given value is string or not?

In [49]:
stringVar='This is a basic string enclosed within single quotes'
stringVar2="This is the basic string enclosed within double quotes"
'''Printing if a variable is string or not'''
print(type(stringVar)==type('string'))
print(type(stringVar2)==type('string'))
#comparing strings will give False
print(stringVar==stringVar2)
print(type('An adhoc string with \n escape character')==type('string'))

True
True
False
True

2.Write a program to convert int to float and viceversa

In [11]:
import math
intVariable=5
'''typecasting to float'''
print("Actual Value:",intVariable,"After typecasting to float:",float(intVariable),sep='\t',end='\n')
'''float to int'''
floatVariable=5.994546
'''typecasting to float'''
'''float is higher order than int so type cating from higher to lower order results in  loss of data'''
print("Actual Value:",floatVariable,"After typecasting to int:",int(floatVariable),sep='\t')
'''this is similar to using floor()'''
floatVariable=5.994546
'''Using floor function'''
print("Actual Value:",floatVariable,"Using floor:",math.floor(floatVariable),sep='\t')

Actual Value:	5	After typecasting to float:	5.0
Actual Value:	5.994546	After typecasting to int:	5
Actual Value:	5.994546	Using floor:	5

3. Write a program to print "Welcome to the Python world" if two variables are matching.

In [13]:
firstVar=16
secondVar=2**4
#Comparing both values
if firstVar==secondVar:
  print('Welcome to the Python World')

'''using Strings'''
string1="ABCDEF"
#using upper() to convert case to Upper Case directly thn comparing its value
if string1=='abcdef'.upper():
  print("Welcome to the Python World")

Welcome to the Python World
Welcome to the Python World

4. Write a program to check given two inputs are equal or not.

In [15]:
firstInput=input('Enter a string input')
secondInput=input('Enter another string')
print("Both string inputs match and are equal" if firstInput==secondInput else "The string inputs do not match, not equal")

Enter a string inputHello
Enter another stringHello
Both string inputs match and are equal

5. Write a program to convert str to int and viceversa

In [26]:
#chr provides integer value to corresponding ascii
#ord provides ascii equivalent to int value
a=ord('a')
print(a,int(a),chr(a))
#to convert string value to int it should be numeric only without decimal as it gives ValueError
_stringToInt='8465465465'
print("Integer equivalent string to Integer",int(_stringToInt), sep="\t")
#to convert string value to int it should be numeric only without decimal as it gives ValueError
_stringToInt='10.5'
print(int(_stringToInt))

97 97 a
Integer equivalent string to Integer	8465465465

ValueError: ignored

6. Write a few programs with use of Arthematic and logical operators.

In [28]:
firstSide=float(input("First Side"))
secondSide=float(input("second Side"))
thirdSide=float(input("Third Side"))
#to check a triangle can be formed with given sides length, sum of pair of sides should be greater than third
if (firstSide+secondSide>thirdSide) or (secondSide+thirdSide>firstSide) or (thirdSide+firstSide>thirdSide):
  print("Traingle formation is possible")
else:
  print("Triangle formation is not possible")

First Side7
second Side24
Third Side25
Traingle formation is possible

7. w = 20 x = 10 y = 15 z = 2

print the values of below.

result_1 = (w+x)y/z result_2 = ((w+x)x)/z result_3 = ((w+x)(y/z))**z result_4 = w+(xy)/z

In [31]:
w = 20
x = 10
y = 15
z = 2
"""
result_1
(20+10)*15/2
30*15/2
30*7.5
225"""
result_1 = (w+x)*y/z
"""
result_2
((20+10)*10)/2
(30*10)/2
(300)/2
150
"""
result_2 = ((w+x)*x)/z
"""
result_3
((20+10)*(15/2))**2
((30)*(7.5))**2
(225)**2
50625
"""
result_3 = ((w+x)*(y/z))**z
"""
result_4
20+(10*15)/2
20+(150)/2
20+75
95
"""
result_4 = w+(x*y)/z
print(result_1,result_2,result_3,result_4,sep='\n')

225.0
150.0
50625.0
95.0

8. Write a few programs using logical operators.

In [62]:
#check a number is positive or negative or zero
a=int(input("Provide a number"))
if not(a>0)==True and not(a<0)==True:
  print("It is zero")
elif not(a>0):
  print("It is a Negative number")
elif not(a<0):
  print("Its is a positive number")

Provide a number5
Its is a positive number

In [36]:
#check a number is ending with 0 or multiple of 10
Var=int(input("Enter an integer"))
#if that is exactly divisble by 10 or equal to 0 or Divisible by 2 and 5 both
if (type(Var/10)==type(10)) or (Var==0) or (Var%2==0 and Var%5==0):
  print("Provided number {} is Multiple of 10".format(Var))
else:
  print("Provided number {} is not a multiple of 10".format(Var))

Enter an integer536
Provided number 536 is not a multiple of 10

9. Write a few programs using relational operators

In [46]:
a=list(map(int,input("Enter three numbers").split()))
if a[0]>a[1] and a[0]>a[2]:
  print(a[0]," is greatest number")
elif a[1]>a[0] and a[1]>a[2]:
  print(a[1]," is greatest number")
else:
  print(a[2]," is greatest number")

Enter three numbers2 5 7
7  is greatest number

In [38]:
8 _operand1=int(input("Provide an interger"))
_operand2=int(input("Provide another integer"))
_operator=input("Select any of ADD,SUB,MUL,DIV,FDIV,EXP,MOD")
if _operator=='ADD':
  print(_operand1+_operand2)
elif _operator=='SUB':
  print(_operand1-_operand2)
elif _operator=='MUL':
  print(_operand1*_operand2)
elif _operator=='DIV':
  print(_operand1/_operand2)
elif _operator=='FDIV':
  print(_operand1//_operand2)
elif _operator=='EXP':
  print(_operand1**_operand2)
elif _operator=='MOD':
  print(_operand1%_operand2)
else:
  print("Not a valid operation")

Provide an interger8
Provide another integer4
Select any of ADD,SUB,MUL,DIV,FDIV,EXP,MODMUL
32